body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #111E3E;
    color: white;
}

header {
    width: 100vw;
    height: 5rem;
    background: #8BC34A;
}

.caixa_logo {
    position: absolute;
    width: 8rem;
    height: 2.75rem;
    margin: 1.3rem 3rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.caixa_logo img {
    padding: 0.25rem 2rem;
}

.cabecalho h3 {
    position: absolute;
    margin-top: 2rem;
    margin-left: 65rem;
    font-style: normal;
    font-weight: 700;
    color: #222E50;
}

.cabecalho h3 a {
    text-decoration: none;
    color: #222E50;
}

.cabecalho h3 a:visited {
    color: #222E50;
}

.cabecalho button {
    height: 3rem;
    width: 5.75rem;
    margin: 1.1rem 0 0 73rem;
    border-radius: 1rem;
    border: none;
    background: #222E50;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.cabecalho button a {
    text-decoration: None;
    color: white; 
}

.post {
    width: 35rem;
    margin: 1rem auto;
    background-color: #222E50;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.post h2 {
    display: inline-block
}

.post img {
    border-radius: 50%;
}

.post h3 {
    display: inline;
    vertical-align: 0.75rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 15px;
}

.post h5 {
    display: inline;
    vertical-align: 0.75rem;
    margin-left: 0.5rem;
    font-size: 15px;
    color: #71767B;
}

.post p {
    margin-left: 4rem;
}