body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #111E3E;
    color: white;
}

header {
    width: 100vw;
    height: 5rem;
    background: #8BC34A;
}

.caixa_logo {
    position: absolute;
    width: 8rem;
    height: 2.75rem;
    margin: 1.3rem 3rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.caixa_logo img {
    padding: 0.25rem 2rem;
}

.caixa_perfil h3 {
    position: absolute;
    margin-top: 2rem;
    margin-left: 61rem;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.caixa_perfil h3 a {
    text-decoration: none;
    color: white;
}

.caixa_perfil h3 a:visited {
    color: white;
}

.caixa_perfil img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 70rem;
}

.caixa_perfil a img {
    height: 2rem;
    margin-left: 1rem;
    align-items:center;
}

.perfil {
    width: 37.5rem;
    height: 15rem;
    margin: 1rem auto;
    background: #222E50;
    border-radius: 1rem;
}   

.foto_perfil {
    height: 5rem;
    margin-top: 2rem;
    margin-left: 3.5rem;
    border-radius: 50%;
}

.descricao {
    margin-left: 3rem;
    align-items: baseline;
}

.descricao img {
    display: inline-block;
    margin-left: 0.5rem;
}

.descricao h2 {
    display: inline;
    vertical-align:0.5rem;
    margin-left: 0.5rem;
}

.post {
    width: 35rem;
    margin: 1rem auto;
    background-color: #222E50;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.post h2 {
    display: inline-block
    
}

.post h2 img {
    border-radius: 50%;
}

.post h3 {
    display: inline;
    vertical-align: 0.75rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 15px;
}

.post h5 {
    display: inline;
    vertical-align: 0.75rem;
    margin-left: 0.5rem;
    font-size: 15px;
    color: #71767B;
}

.post p {
    margin-left: 3rem;
}

.post h6 {
    margin-left: 3rem;
}
