body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #111E3E;
    color: white;
}

header {
    width: 100vw;
    height: 5rem;
    background: #8BC34A;
}

.caixa_logo {
    position: absolute;
    width: 8rem;
    height: 2.75rem;
    margin: 1.3rem 3rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.caixa_logo img {
    padding: 0.25rem 2rem;
}

.caixa_perfil h3 {
    position: absolute;
    margin-top: 2rem;
    margin-left: 61rem;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.caixa_perfil h3 a {
    text-decoration: none;
    color: white;
}

.caixa_perfil h3 a:visited {
    color: white;
}

.caixa_perfil img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 70rem;
}

.caixa_perfil a img {
    height: 2rem;
    margin-left: 1rem;
    align-items:center;
}


#criar_publicacao {
    margin: 1.05rem 0 0 23.5rem;
    width: 9.2rem;
    height: 2.7rem;
    background-color: #8BC34A;
    border-radius: 16px;
    border: none;
    color: white;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6 );
    z-index: 5;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #111E3E;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 25rem;
    height: 20rem;
    padding: 2.5rem;
    border-radius: 1rem;
}

.modal-header {
    border-bottom: 1px solid #CCC ;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-header img {
    padding: .25rem;
}

#botao_cancelar {
    width: 7.75rem;
    height: 2rem;
    margin: 0.2rem 0 0 10rem;
    margin-left: 10rem;
    border: none;
    color: white;
    background-color: #111E3E;
    font-size: 1rem;
    font-weight: 700;   
}

.botao_publicar {
    position:absolute;
    width: 7.75rem;
    height: 2rem;
    margin: 0.2rem 0 0 0rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: #8BC34A;
    font-size: 1rem;
    font-weight: 700;   
}

.modal-body textarea {
    background-color: #222E50;
    color: white;
    width: 25rem;
    height: 15rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

.post {
    width: 35rem;
    margin: 1rem auto;
    background-color: #222E50;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.post h2 {
    display: inline-block
    
}

.post h2 img {
    border-radius: 50%;
}

.post h3 {
    display: inline;
    vertical-align: 0.75rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 15px;
}

.post h5 {
    display: inline;
    vertical-align: 0.75rem;
    margin-left: 0.5rem;
    font-size: 15px;
    color: #71767B;
}

.post p {
    margin-left: 3rem;
}

.post h6 {
    margin-left: 3rem;
}
