body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 1440px;
    height: 939px;
}
.cabecalho {
    height: 86px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #8BC34A;
}


.caixa_logo {
    position: absolute;
    width: 124px;
    height: 44px;
    margin: 21px 48px;
    background: #D9D9D9;
    border-radius: 16px;
}

.logo {
    padding: 4px 32px;
}
.cabecalho h3 {
    position: absolute;
    top: 34px;
    left: 1192px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #222E50;
}

.cabecalho a {
    text-decoration: none;
    color: #222E50;
}

.cabecalho button {
    position: absolute;
    left: 1300px;
    top: 19px;
    height: 48px;
    width: 92px;
    background: #222E50;
    border-radius: 16px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

button a:visited {
    color: white;

}

main {
    height: 973px;
    width: 1437px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color:#111E3E;
    border: 1px solid #000000;
}

.logo_fundo {
    position: absolute;
    width: 778px;
    height: 451px;
    top: 323px;
}
.acesse_aqui{
    top: 375px;
}
.caixa_cadastro {
    position: absolute;
    height: 723px;
    width: 547px;
    margin: 85px 115px 131px 778px;
    background: #222E50;
    border-radius: 10px;
}
form {
    position: absolute;
    top: 220px;
    left: 73px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;    
}

.input_padrao {
    display: block;
    width: 401px;
    height: 58px;
    background: #D9D9D9;
    border-radius: 10px;
    border: none;
    margin: 15px 0px;
    font-size: 19px;  
}

.input_padrao:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 19px;
}

input[type='file'] {
    display: none;
}


#foto {
    width: 215px;
    height: 203px;
    top: 191px;
    margin-left: 150px;
    cursor: pointer;
}

form a {
    position: absolute;
    width: 215px;
    height: 19px;
    margin: 27px 100px 0px ;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #111E3E;
}

.botao_cadastrar {
    position: absolute;
    width: 283px;
    height: 50px;
    margin: 44px 65px 94px 65px;
    background: #D9D9D9;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #222E50;
}